<%- include('../partials/header') %>

<% lists.forEach(function(list) { %>
    <div class="blog-post">
        <h3 class="blog-post-title"><a href="/lists/<%=list._id%>"><%= list.title%></a></h3>
        <p><pre><%= list.content%></pre></p>
        <p class="blog-post-meta"><%= list.createdAt.toLocaleString() %> by <a href="/users/<%=list.user._id%>"> <%=list.user.name%></a></p>
        <p class="blog-post-meta">View more in <a href="/lists/categories/"><%= list.category%></a></p>
    </div>
    <hr>
<% }) %>

<%- include('../partials/footer') %>
