<%- include('../partials/header') %>

<% lists.forEach(function(list) { %>
    <h3><%= list.title%></h3>
    <p><%= list.content%></p>
    <span>Posted by <%= list.user.name %></span>
    <h4>Other <%= list.category%></h4><!-- change to a tag -->

<% }) %>

<%- include('../partials/footer') %>