<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= list.title %></div>
  <div>Content: </div>
  <div><p><%= list.content%></p></div>
  <span>Posted by <%= list.user.name %></span>
  <h4>Other <%= list.category%> posts</h4><!-- change to a tag -->
</section>
  
<%- include('../partials/footer') %>