<%- include('../partials/header') %>

<section id="show-page">
    <div class="blog-post">
      <h3 class="blog-post-title"><%= list.title%></h3>
      <p><%= list.content%></p>
      <p class="blog-post-meta"><%list.createdAt.toLocaleString() %> by <a href="/users/<%list.user._id%>">list.user.name</a></p>
      <p class="blog-post-meta">View more in<a href="/lists/categories/"><%= list.category%></a></p>
      <form action="/lists/<%= list._id%>?_method=DELETE"class="delete-form" method="POST">
        <button type="submit">Delete</button>
      </form>
    </div>
    <div>
      <form action="/list/<%= list._id %>/comments" method="POST">
        <input name="content">
        <button type="submit">ADD COMMENT</button>
      </form>
    </div>
</section>
  
<%- include('../partials/footer') %>