<%- include('../partials/header') %>

<section id="show-page">
    <div class="blog-post">
      <h3 class="blog-post-title"><%= list.title%></h3>
      <p><pre><%= list.content%></pre></p>
      <p class="blog-post-meta"><%= list.createdAt.toLocaleString() %> by <a href="/users/<%=list.user._id%>"><%=list.user.name%></a></p>
      <p class="blog-post-meta">View more in <a href="/lists/categories/<%=list.category%>"><%= list.category%></a></p>
      <% if (list.user._id.equals(user && user._id)) { %>
      <form action="/lists/<%= list._id%>?_method=DELETE"class="delete-form" method="POST">
        <button type="submit">Delete</button>
      </form>
      <% } %>
      <% if (list.user._id.equals(user && user._id)) { %>
        <form action="/lists/<%= list._id %>/edit" method="GET">
          <button type="submit">Edit</button>
        </form>
      <% } %>
    </div>
    <% if (user) { %>
    <div>
      <form action="/lists/<%= list._id %>/comments" method="POST">
        <input name="content">
        <button type="submit">ADD COMMENT</button>
      </form>
    </div>
    <% } %>
    <hr>
    <h5>Comments:</h5>
    <div class="collection">
    <% if (list.comments) { %>
        <% list.comments.forEach(function(comment) { %>
          <blockquote>
            <p class="collection-item blue-grey-text text-darken-2"><pre><%= comment.content %></pre></p>
            <p><%= comment.user.createdAt.toLocaleString() %> by <a href="/users/<%=comment.user._id%>"><%= comment.user.name %></a>
          </blockquote>
        <% }) %>
      </div>
    <% } else { %>
        <p>No Comments Yet</p>
      </div>
    <% } %>

</section>
  
<%- include('../partials/footer') %>