<%- include('../partials/header') %>

<% if (user) { %>
    <div>
        <img src="<%=user.avatar%>" alt="Google Profile Picture">
    </div>
    <h1>Welcome <%= user.name %></h1>
<% } %>
<div>
    <h3>Browse by User:</h3>
    <% allUsers.forEach(function(thisUser){ %>
        <ol>
            <li><a href="users/<%=thisUser._id%>"><%=thisUser.name%></a></li>
        </ol>
    }) %>
</div>

<%- include('../partials/footer') %>